.list {
    display: block;
}

.list>ul>li {
    background-color: red;
    color: white;
    width: 2rem;
    height: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 2rem 2rem 2rem;
}

.grid>ul>li {
    background-color: red;
    color: white;
    width: 2rem;
    height: 2rem;
}